<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="ConnectionString" value="Server=.;Database=HR_Database;User Id=sa;Password=sa123456;"/>
		<add key="DatabaseBackupsFolder" value="C:\DatabaseBackups"/>
		<add key="BackupsFolder" value="C:\DatabaseBackups\Backups"/>
		<add key="LogFolder" value="C:\DatabaseBackups\Logs"/>
		<add key="LogFileName" value="Logging.txt"/>
		<add key="BackupIntervalMinutes" value="60"/>
		
	</appSettings>
	
</configuration>